<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>FSE chat room | CMU-Africa</title>
    <link rel="stylesheet" href="css/dashboard.css" />
    <link rel="stylesheet" href="css/header.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  </head>

  <body>
    <div class="container">
       <div class="container">
      <%- include('layout/header.ejs') %>
      <div class="chatbox">
        <div class="col-1">
          <div class="chat-messages" id="chat-messages">
            <!-- This is where the chat messages are added -->
          </div>
        </div>
        <div class="col-2">
          <form id="chat-form" method="" class="chat-input">
            <input
              id="message"
              type="text"
              placeholder="Type your message..."
              style="width: 100%"
            />
            <button type="submit">send</button>
          </form>
        </div>
      </div>
    </div>

    <script>
      $(document).ready(function () {
        var sender_id = '<%= user._id %>';
        var socket = io('/user-namespace', {
          auth: {
            token: '<%= user._id %>',
          },
        });

        function scrollToBottom() {
          var chatMessages = document.getElementById('chat-messages');
          chatMessages.scrollTop = chatMessages.scrollHeight;
        }

        function loadChatHistory() {
          $.ajax({
            url: '/get-chats',
            type: 'GET',
            data: {},
            success: function (response) {
              if (response.success) {
                response.data.reverse();
                response.data.forEach(function (chatData) {
                  displayChatMessage(chatData);
                });
                scrollToBottom();
              } else {
                alert(response.msg);
              }
            },
            error: function (error) {
              console.log(error);
              alert('Error loading chat history.');
            },
          });
        }

        function displayChatMessage(data) {
          var chatMessages = $('#chat-messages');
          var cssClass = sender_id === data.sender_id._id ? 'msg-row2' : '';
          let messageClass = data.sender_id._id === sender_id ? 'msg-text2' : '';

          var html = `<div class="msg-row ${cssClass}">
                                <div class="msg-avatar">
                                    <img src="images/avatar_icon.png" alt="" class="msg-img" />
                                </div>
                                <div class="msg-text ${messageClass}">
                                    <span class="msg-time">${
                                      data.createdAt
                                    }</span>
                                    <h2>${
                                      data.sender_id._id === sender_id
                                        ? 'Me'
                                        : data.sender_id.name
                                    }</h2>
                                    <p>${data.message}</p>
                                </div>
                            </div>`;

          chatMessages.prepend(html);
        }

        function appendChatMessage(data) {
          var chatMessages = $('#chat-messages');
          var cssClass = sender_id === data.sender_id._id ? 'msg-row2' : '';
            let messageClass = data.sender_id._id === sender_id ? 'msg-text2' : '';

          var html = `<div class="msg-row ${cssClass}">
                    <div class="msg-avatar">
                        <img src="images/avatar_icon.png" alt="" class="msg-img" />
                    </div>
                    <div class="msg-text ${messageClass}">
                        <span class="msg-time">${data.createdAt}</span>
                        <h2>${
                          data.sender_id._id === sender_id
                            ? 'Me'
                            : data.sender_id.name
                        }</h2>
                        <p>${data.message}</p>
                    </div>
                </div>`;

          chatMessages.append(html);
        }

        // This function is aimed at loading the previous chat before allowing users to send messages
        loadChatHistory();

        // save chats to database
        $('#chat-form').submit(function (e) {
          e.preventDefault();
          var message = $('#message').val();

          $.ajax({
            url: '/save-chat',
            type: 'POST',
            data: {
              sender_id: sender_id,
              message: message,
            },
            success: function (response) {
              if (response.success) {
                $('#message').val('');
                appendChatMessage(response.data);
                scrollToBottom();
                socket.emit('newChat', response.data);
              } else {
                alert(response.msg);
              }
            },
            error: function (error) {
              console.log(error);
              alert('Error sending message.');
            },
          });
        });

        // listen for new chat
        socket.on('loadNewChat', function (data) {
          appendChatMessage(data);
          scrollToBottom();
        });
      });
    </script>
  </body>
</html>
