<span style="font-family: verdana, geneva, sans-serif">
  <!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="UTF-8" />
      <title>FSE chat room | CMU-Africa</title>
      <link rel="stylesheet" href="css/dashboard.css" />
      <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      />

      <!-- <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script> -->
      <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
      <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    </head>

    <body>
      <div class="container">
        <div class="chatbox">
          <div class="col-1">
            <form id="chat-form" method="" class="chat-input">
              <input
                id="message"
                type="text"
                placeholder="Type your message..."
              />
              <button type="submit">send</button>
            </form>
          </div>
          <div class="col-2">
            <ul style="justify-content: flex-start">
              <!-- list all users -->
              <% users.forEach(function(user) { %>
              <li>
                <a href="/chat/<%= user._id %>">
                  <div class="user-info">
                    <p><%= user.name %></p>
                  </div>
                </a>
              </li>
              <% }); %>
            </ul>
          </div>
        </div>
      </div>

      <!-- <script src="/socket.io/socket.io.js"></script> -->

      <script>
        $(document).ready(function () {
          var sender_id = '<%= user._id %>';
          var receiver_id;
          var socket = io('/user-namespace', {
            auth: {
              token: '<%= user._id %>',
            },
          });

          // save chats
          $('#chat-form').submit(function (e) {
            e.preventDefault();
            var message = $('#message').val();

            $.ajax({
              url: '/save-chat',
              type: 'POST',
              data: {
                sender_id: sender_id,
                message: message,
              },
              success: function (response) {
                if (response.success) {
                  console.log(response);

                  $('#message').val('');
                  let chat = response.data.message;
                  let messageSender = response.data.sender_id;
                  let createdAt = response.data.createdAt;

                  let cssClass = sender_id === messageSender ? 'msg-row2' : '';

                  let html = `<div class="msg-row ${cssClass}">
            <div class="msg-avatar">
              <img src="images/avatar_icon.png" alt="" class="msg-img" />
            </div>
            <div class="msg-text">
              <span class="msg-time">${createdAt}</span>
              <h2>${messageSender}</h2>
              <p>${chat}</p>
            </div>
          </div>`;

                  $('.col-1').append(html);
                  socket.emit('newChat', response.data);
                } else {
                  alert(response.msg);
                }
              },
              error: function (error) {
                console.log(error);
                alert('Error sending message.');
              },
            });
          });
          socket.on('loadNewChat', function (data) {
            let html = `<div class="msg-row">
            <div class="msg-avatar">
              <img src="images/avatar_icon.png" alt="" class="msg-img" />
            </div>
            <div class="msg-text">
              <span class="msg-time">${data.createdAt}</span>
              <h2>${data.sender_id}</h2>
              <p>${data.message}</p>
            </div>
          </div>`;

            $('.col-1').append(html);
          });
        });
      </script>
    </body>
  </html>
</span>
