<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>FSE chat room | CMU-Africa</title>
    <link rel="stylesheet" href="css/dashboard.css" />
    <link rel="stylesheet" href="css/header.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  </head>

  <body>
    <div class="container">
       <div class="container">
      <%- include('layout/header.ejs') %>
      <div class="chatbox">
        <div class="col-1">
          <div class="chat-messages" id="chat-messages">
            <!-- This is where the chat messages are added -->
          </div>
        </div>
        <div class="col-2">
          <form id="chat-form" method="" class="chat-input">
            <input
              id="message"
              type="text"
              placeholder="Type your message..."
              style="width: 100%"
            />
            <button type="submit">send</button>
          </form>
        </div>
      </div>
    </div>

    <script>
      $(document).ready(function () {
        let sender_id = '<%= user._id %>';
        let socket = io('/user-namespace', {
          auth: {
            token: '<%= user._id %>',
          },
        });

        function scrollToBottom() {
          let chatMessages = document.getElementById('chat-messages');
          chatMessages.scrollTop = chatMessages.scrollHeight;
        }


        // Format createdAt to Date and timestamp
        function formatDate(date) {
          let d = new Date(date),
            month = '' + (d.getMonth() + 1),
            day = '' + d.getDate(),
            year = d.getFullYear(),
            hour = d.getHours(),
            minute = d.getMinutes(),
            second = d.getSeconds();

          if (month.length < 2) month = '0' + month;
          if (day.length < 2) day = '0' + day;
          if (hour.length < 2) hour = '0' + hour;
          if (minute.length < 2) minute = '0' + minute;
          if (second.length < 2) second = '0' + second;

          return [year, month, day].join('-') + ' ' + [hour, minute, second].join(':');
        }

        function loadChatHistory() {
          $.ajax({
            url: '/get-chats',
            type: 'GET',
            data: {},
            success: function (response) {
              if (response.success) {
                response.data.reverse();
                response.data.forEach(function (chatData) {
                  displayChatMessage(chatData);
                });
                scrollToBottom();
              } else {
                alert(response.msg);
              }
            },
            error: function (error) {
              console.log(error);
              alert('Error loading chat history.');
            },
          });
        }

        function displayChatMessage(data) {
          let chatMessages = $('#chat-messages');
          let cssClass = sender_id === data.sender_id._id ? 'msg-row2' : '';
          let messageClass = data.sender_id._id === sender_id ? 'msg-text2' : '';
          let timeCss = data.sender_id._id !== sender_id ? 'msg-time2' : '';

          const messageDate = data.createdAt
          const formattedDate = formatDate(messageDate)

          let html = `<div class="msg-row ${cssClass}">
                                <div class="msg-avatar">
                                    <img src="images/avatar_icon.png" alt="" class="msg-img" />
                                </div>
                                <div class="msg-text ${messageClass}">
                                    <span class="msg-time ${timeCss}">${
                                     formattedDate
                                    }</span>
                                    <h2>${
                                      data.sender_id._id === sender_id
                                        ? 'Me'
                                        : data.sender_id.name
                                    }</h2>
                                    <p>${data.message}</p>
                                </div>
                            </div>`;

          chatMessages.prepend(html);
        }

        function appendChatMessage(data) {
          let chatMessages = $('#chat-messages');
          let cssClass = sender_id === data.sender_id._id ? 'msg-row2' : '';
            let messageClass = data.sender_id._id === sender_id ? 'msg-text2' : '';
             const messageDate = data.createdAt
          const formattedDate = formatDate(messageDate)
          let timeCss = data.sender_id._id !== sender_id ? 'msg-time2' : '';


          let html = `<div class="msg-row ${cssClass}">
                    <div class="msg-avatar">
                        <img src="images/avatar_icon.png" alt="" class="msg-img" />
                    </div>
                    <div class="msg-text ${messageClass}">
                        <span class="msg-time ${timeCss}">${formattedDate}</span>
                        <h2>${
                          data.sender_id._id === sender_id
                            ? 'Me'
                            : data.sender_id.name
                        }</h2>
                        <p>${data.message}</p>
                    </div>
                </div>`;

          chatMessages.append(html);
        }

        // This function is aimed at loading the previous chat before allowing users to send messages
        loadChatHistory();

        // save chats to database
        $('#chat-form').submit(function (e) {
          e.preventDefault();
          let message = $('#message').val();

          $.ajax({
            url: '/save-chat',
            type: 'POST',
            data: {
              sender_id: sender_id,
              message: message,
            },
            success: function (response) {
              if (response.success) {
                $('#message').val('');
                appendChatMessage(response.data);
                scrollToBottom();
                socket.emit('newChat', response.data);
              } else {
                alert(response.msg);
              }
            },
            error: function (error) {
              console.log(error);
              alert('Error sending message.');
            },
          });
        });

        // listen for new chat
        socket.on('loadNewChat', function (data) {
          appendChatMessage(data);
          scrollToBottom();
        });

        
      });
    </script>
  </body>
</html>
